<!DOCTYPE html>
<html lang="en" >

<head>
	<title>VINEEL GARISA</title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'personal/css/bootstrap.min.css' %}" type = "text/css"/>
    <link rel="shortcut icon" href="static/personal/img/jag.ico"/>
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">

	<style type="text/css">
		html,
		body {
		  height:100%;

        }

	</style>
</head>

<body class="body" background="static/personal/background/jag4.jpg">
	<div class="container-fluid" style="min-height:97%;background-image: url('../personal/static/personal/background/jag4.jpg')">
		<div class="row">
			  <div class="col-sm-2" >
				  <br>
				  <center>
					<img src="{% static 'personal/img/nik2.jpg' %}" class="responsive-img" style='max-height:100px;' alt="face">
				  </center>
			  </div>
			  <div class="col-sm-10">
				  <br>
				  <center>
				  <h1 style="color: #0f0f0C">Jaguar Motors, INDIA.,Pvt.,Ltd</h1>
                      <h3 style="color: #0f0f0C">CEO: Vineel Garisa</h3>
				  </center>
			  </div>
		</div><hr>

		<div class="row">
		  <div class="col-sm-2">
		  <br>

		  <br>
		   <!-- Great, til you resize. -->
			<div class="well bs-sidebar affix" id="sidebar" style="background-color:#0f0f0C:\Users\vineel\Desktop\djangotutorials\mysite\personal\static\personal\background\jag3.jpg">
			<!--<div class="well bs-sidebar" id="sidebar" style="background-color:#fff">-->
			  <ul class="nav nav-pills nav-stacked">
				<li><a href='/'>Home</a></li>
				<li><a href='/blog/' >Blog</a></li>
                <li><a href='/contact/'>Contact</a></li>
			  </ul>
			</div> <!--well bs-sidebar affix-->
		  </div> <!--col-sm-2-->
		  <div class="col-sm-10">

			<div class='container-fluid'>
			<br><br>
			   {% block content %}
			   {% endblock %}
			</div>
		  </div>
		</div>
	</div>
	<footer>
		<div class="container-fluid" style='margin-left:15px'>
			<p><a href="#" target="blank">Contact</a> | <a href="#" target="blank">Facebook</a> | <a href="#" target="blank">Twitter</a> | <a href="#" target="blank">Google+</a> | <a href="#" target="blank">LinkedIN</a> | <a href="#" target="blank">Skype</a></p>
		</div>
	</footer>

</body>

</html>